@model Notezilla.Models.Notes.Note

<tr>
    <td>
        <a href="@Url.Action("Details", new { noteId = Model.Id })" class="note">@Html.DisplayFor(model => model.Title, "NoteTitle")</a>
    </td>
    <td>
        @Html.DisplayFor(model => model.CreationDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.ChangeDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.Tags, "NoteTags")
    </td>
    <td>
        @Model.Files.Count
    </td>
</tr>

