@model Notezilla.Models.Notes.Note

<tr>
    <td>
        <a href="#">@Html.DisplayFor(model => model.Title, "Title")</a>
    </td>
    <td>
        @Html.DisplayFor(model => model.CreationDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.ChangeDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.Tags, "Tags")
    </td>
    <td>
        @Model.Files.Count
    </td>
</tr>

