@model Notezilla.Models.Users.User

<tr>
    <td>@Model.Id</td>
    <td>@Model.UserName</td>
    <td>@Html.DisplayFor(model => model.RegistrationDate)</td>
    <td>@Model.IsEnabled</td>
    <td>@Html.DisplayFor(model => model.Roles)</td>
    <td>
        <div class="btn-group pull-right">
            <a class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Заметки</a>
            <a class="btn btn-default"> Инфо</a>
            <a class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Заблокировать</a>
        </div>
    </td>
</tr>
