@model Notezilla.Models.Users.User

<tr>
    <td>@Model.Id</td>
    <td>@Model.UserName</td>
    <td>@Html.DisplayFor(model => model.RegistrationDate)</td>
    <td>@Html.DisplayFor(model => model.IsEnabled, "UserStatus")</td>
    <td>@Html.DisplayFor(model => model.Roles)</td>
    <td>
        <div class="pull-right">
            @if (Model.IsEnabled)
            {
                <a href="@Url.Action("LockUnlock", "User", new { userId = Model.Id })" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ban-circle"></span>  Заблокировать</a>
            }
            else
            {
                <a href="@Url.Action("LockUnlock", "User", new { userId = Model.Id })" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok-circle"></span> Разблокировать</a>
            }
        </div>
    </td>
</tr>
